cloud function.txt.json
[{"id":"f7a302cf.0fa51","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c13de4c5.bd6278","type":"ui_form","z":"f7a302cf.0fa51","name":"","label":"","group":"ac199c43.1e196","order":0,"width":0,"height":0,"options":[{"label":"Any Question?Ask...","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":140,"wires":[["8e9c829c.947d7"]]},{"id":"8e9c829c.947d7","type":"function","z":"f7a302cf.0fa51","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":140,"wires":[["7c96352c.e96d4c"]]},{"id":"7c96352c.e96d4c","type":"watson-conversation-v1","z":"f7a302cf.0fa51","name":"","workspaceid":"5ff2abea-3512-44af-847b-65ddf1e4f198","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/f06ef293-0ff7-4322-828e-7b0c879593e9","timeout":"","optout-learning":false,"x":400,"y":140,"wires":[["aa750089.b85be","a7f7a1e7.afe94"]]},{"id":"aa750089.b85be","type":"debug","z":"f7a302cf.0fa51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"a7f7a1e7.afe94","type":"function","z":"f7a302cf.0fa51","name":"","func":"msg.payload=msg.payload.output.generic[0].text\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":140,"wires":[["3a6c9083.8eef2","4ce48241.05904c"]]},{"id":"3a6c9083.8eef2","type":"ui_text","z":"f7a302cf.0fa51","group":"ac199c43.1e196","order":1,"width":0,"height":0,"name":"","label":"Bot resopnse","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":140,"wires":[]},{"id":"4ce48241.05904c","type":"ui_audio","z":"f7a302cf.0fa51","name":"","group":"ac199c43.1e196","voice":"en-GB","always":"","x":700,"y":220,"wires":[]},{"id":"ac199c43.1e196","type":"ui_group","z":"","name":"FOOD STUFF CAFE","tab":"1672f603.9229ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"1672f603.9229ca","type":"ui_tab","z":"","name":"customer care","icon":"dashboard","disabled":false,"hidden":false}]